
.header {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
      url('../img/nuggets.jpg');
    background-size: cover;
    height: 95vh;
    width: 100%;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;
  
    &__logo {
      height: 9rem;
    }
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 5rem;
    }
    
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  
  